import os
import sys

from dotenv import dotenv_values

mod = sys.modules[__name__]

DATABASE_CONNSTR = None

for key, val in dotenv_values(os.getenv("dotenv_file", ".env")).items():
    setattr(mod, key, val)


FILTERS = {
    "moskva1": {
        "url": "https://www.avito.ru/moskva/kvartiry/prodam/vtorichka-ASgBAQICAUSSA8YQAUDmBxSMUg?f=ASgBAQECAkSSA8YQwMENuv03A0DmBxSMUsoIJP5YgFmQvg0Ulq41AUXGmgwdeyJmcm9tIjo0MDAwMDAwLCJ0byI6ODAwMDAwMH0&metro=2-7-13-24-25-30-33-38-40-44-47-64-72-77-80-100-110-117-118-133-2135-2152-2188-2207",
        "state": "enabled",
    }
}

TESTING = os.getenv("TESTING", 'False').lower() in ('true', '1', 't')
KAFKA_TOPIC = "astalavito-events"
KAFKA_BOOTSTRAP_SERVERS = {"bootstrap.servers": "localhost:9092"}
KAFKA_PRICE_TABLE = "price-changes"
KAFKA_EVENTS_PARTITIONS = 1
KAFKA_PRICE_TABLE_PARITIONS = 1
FAUST_BROKER = "kafka://localhost"
FAUST_ROCKSDB_CONNSTR = "rocksdb://"

delattr(mod, "key")
delattr(mod, "val")
delattr(mod, "os")
delattr(mod, "sys")
delattr(mod, "dotenv_values")
delattr(mod, "mod")